<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predicción de Rendimiento</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Formulario de Predicción de Rendimiento</h1>
        <form action="/predict" method="get">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="year">Año*</label>
                    <select class="form-control" id="year" name="year" required>
                        {% for year in range(2011, current_year+1) %}
                            <option value="{{ year }}">{{ year }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="month">Mes*</label>
                    <select class="form-control" id="month" name="month" required>
                        <option value="1">Enero</option>
                        <option value="2">Febrero</option>
                        <option value="3">Marzo</option>
                        <option value="4">Abril</option>
                        <option value="5">Mayo</option>
                        <option value="6">Junio</option>
                        <option value="7">Julio</option>
                        <option value="8">Agosto</option>
                        <option value="9">Septiembre</option>
                        <option value="10">Octubre</option>
                        <option value="11">Noviembre</option>
                        <option value="12">Diciembre</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="region">Región*</label>
                    <select class="form-control" id="region" name="region" required>
						<option value="CENTRAL">CENTRAL</option>                        
						<option value="ESTE">ESTE</option>
						<option value="NORCENTRAL">NORCENTRAL</option>
						<option value="NORCENTRAL">NORDESTE</option>
                        <option value="NOROESTE">NOROESTE</option>
						<option value="NORTE">NORTE</option>
						<option value="SUR">SUR</option>
						<option value="SUROESTE">SUROESTE</option>
						
                        <!-- Agrega más opciones según tus necesidades -->
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="siembra_mensual">Siembra Mensual (tareas)*</label>
                    <input type="number" class="form-control" id="siembra_mensual" name="siembra_mensual" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="cosecha_mensual">Cosecha Mensual (tareas)*</label>
                    <input type="number" class="form-control" id="cosecha_mensual" name="cosecha_mensual" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="produccion_mensual">Producción Mensual (millares)*</label>
                    <input type="number" class="form-control" id="produccion_mensual" name="produccion_mensual" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="precipitation">Precipitación (mm)</label>
                    <input type="number" class="form-control" id="precipitation" name="precipitation">
                </div>
                <div class="form-group col-md-6">
                    <label for="humidity">Humedad (%)</label>
                    <input type="number" class="form-control" id="humidity" name="humidity">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="max_temp">Temperatura Máxima (°C)</label>
                    <input type="number" class="form-control" id="max_temp" name="max_temp">
                </div>
                <div class="form-group col-md-6">
                    <label for="min_temp">Temperatura Mínima (°C)</label>
                    <input type="number" class="form-control" id="min_temp" name="min_temp">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Predecir</button>
        </form>
    </div>
</body>
</html>
