<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado de Predicción</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Resultado de Predicción de rendimiento del cultivo del plátano</h1>
        <table class="table table-bordered">
            <tr>
                <th>Año</th>
                <td>{{ resultado.year }}</td>
            </tr>
            <tr>
                <th>Mes</th>
                <td>{{ resultado.month }}</td>
            </tr>
            <tr>
                <th>Región</th>
                <td>{{ resultado.region }}</td>
            </tr>
            <tr>
                <th>Siembra Mensual</th>
                <td>{{ resultado.siembra_mensual }}</td>
            </tr>
            <tr>
                <th>Cosecha Mensual</th>
                <td>{{ resultado.cosecha_mensual }}</td>
            </tr>
            <tr>
                <th>Producción Mensual</th>
                <td>{{ resultado.produccion_mensual }}</td>
            </tr>
            <tr>
                <th>Precipitación</th>
                <td>{{ resultado.precipitation }}</td>
            </tr>
            <tr>
                <th>Temperatura Máxima</th>
                <td>{{ resultado.max_temp }}</td>
            </tr>
            <tr>
                <th>Temperatura Mínima</th>
                <td>{{ resultado.min_temp }}</td>
            </tr>
            <tr>
                <th>Humedad</th>
                <td>{{ resultado.humidity }}</td>
            </tr>
            <tr>
                <th>Predicción de Rendimiento</th>
                <td>{{ resultado.prediccion_rendimiento }}</td>
            </tr>
        </table>
        <a href="/" class="btn btn-primary">Volver</a>
    </div>
</body>
</html>
